name: Publish to pub.dev

on:
  push:
    tags:
      - "**"

jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.4"

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Run tests with coverage
        run: flutter test --coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Dry run publish
        run: flutter pub publish --dry-run

      - uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
